<!DOCTYPE html>
<html>
	<head>
		<title>iDoei</title>
		<link rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
			crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" th:href="@{~/css/home.css}">
		<meta charset="UTF-8">
	</head>
<body class="body">
	<nav class="navbar navbar-light bg-light">
	  <div class="container-fluid">
	    <a href="/food/register" class="navbar-brand">Faça a sua doação</a>
	    <a class="navbar-brand" href="/logout">Sair</a>
	  </div>
	</nav>
	<div class="homeImage">
		<img th:src="@{/images/donate.jpg}" class="img-fluid" alt="doação">
	</div>
	
	<hr>

</html>